
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title parallax parallax1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Blog List</h1>
                </div><!-- /.page-title-heading -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a>@Html.ActionLink("Home", "Index", "Home1")</a></li>
                        <li><a>@Html.ActionLink("Blog", "Blog", "Home1")</a></li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->
<!-- Blog posts -->
<section class="blog-posts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-wrap">

                    <article class="post clearfix">
                        <div class="title-post">
                            <h2><a>The Top 7 Spring ’16 Shows in London</a></h2>
                        </div><!-- /.title-post -->
                        <div class="content-post">
                            <ul class="meta-post">
                                <li class="author padding-left-2">
                                    <span>Posted By: </span><a href="#">Admin</a>
                                </li>
                                <li class="comment">
                                    <a href="#">10 Comment</a>
                                </li>
                                <li class="date">
                                    <span>Date 10/10/2020 </span>
                                </li>
                            </ul><!-- /.meta-post -->
                            <div class="featured-post">
                                <img src="~/Content/Blog Images/1.jpg" alt="image">
                            </div>
                            <div class="entry-post">
                                <p>As London Fashion Week draws to a close, designers are wending their way home from Samantha Cameron’s party to sleep for the first time in days, and editors are thinking about what they’ll be remembering from a sightseeing tour of the city that took them all over the map. In general: Despite traffic and lashings of London rain, it was a week of individualism, British humor, prettiness, and emotional surprises.</p>
                                <p>
                                    Diamond connoisseurs will fall for the carats nestled within Bucherer’s designs, whether they’re in the market for an engagement ring, a statement necklace or the perfect pear drop earrings to offset   any evening look. But the collection we’re most excited for is Peekaboo. Think Marie Antoinette meets Glossier with a smattering of stones thrown in for good measure.

                                    It’s feminine and bold, innocent but statement-making, and romantic in all the right ways. With a fon- dant fancy colour palette of brilliant-cut stones set in gold and decorated with dinky diamonds to bring another level to the pieces, it hits the right notes every time.
                                </p>
                                <p>Earlier this month, the Selfridges Wonder Room welcomed a new addition to its star-studded and sparkling roster: Bucherer Fine Jewellery. Bucherer is a brand steeped in history; it was founded nearly 130 years ago in 1888 in Switzerland, the home of jewellery, and has been creating modern pieces with a rich heritage ever since. From the younger Peekaboo collection to the high design of the Viv- elle line, there’s something for everyone here.</p>
                              
                            </div>
                        </div><!-- /.content-post -->
                    </article><!-- /.post -->

                    <article class="post clearfix">
                        <div class="title-post">
                            <h2><a>How Saint Laurent Crystal Boots Became The Status Symbol Of 2020</a></h2>
                        </div><!-- /.title-post -->
                        <div class="content-post">
                            <ul class="meta-post">
                                <li class="author padding-left-2">
                                    <span>Posted By: </span><a href="#">Admin</a>
                                </li>
                                <li class="comment">
                                    <a href="#">10 Comment</a>
                                </li>
                                <li class="date">
                                    <span>Date 10/10/2020 </span>
                                </li>
                            </ul><!-- /.meta-post -->
                            <div class="featured-post">
                                <img src="~/Content/Blog Images/2.jpg" alt="image">
                            </div>
                            <div class="entry-post">
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text...</p>
                                <p>
                                    Diamond connoisseurs will fall for the carats nestled within Bucherer’s designs, whether they’re in the market for an engagement ring, a statement necklace or the perfect pear drop earrings to offset   any evening look. But the collection we’re most excited for is Peekaboo. Think Marie Antoinette meets Glossier with a smattering of stones thrown in for good measure.

                                    It’s feminine and bold, innocent but statement-making, and romantic in all the right ways. With a fon- dant fancy colour palette of brilliant-cut stones set in gold and decorated with dinky diamonds to bring another level to the pieces, it hits the right notes every time.
                                </p>
                                <p>Earlier this month, the Selfridges Wonder Room welcomed a new addition to its star-studded and sparkling roster: Bucherer Fine Jewellery. Bucherer is a brand steeped in history; it was founded nearly 130 years ago in 1888 in Switzerland, the home of jewellery, and has been creating modern pieces with a rich heritage ever since. From the younger Peekaboo collection to the high design of the Viv- elle line, there’s something for everyone here.</p>

                            </div>
                        </div><!-- /.content-post -->
                    </article><!-- /.post -->

                    <article class="post clearfix">
                        <div class="title-post">
                            <h2><a href="blog-detail.html">The 25 Best Photos of Milan Fashion Week</a></h2>
                        </div><!-- /.title-post -->
                        <div class="content-post">
                            <ul class="meta-post">
                                <li class="author padding-left-2">
                                    <span>Posted By: </span><a href="#">Admin</a>
                                </li>
                                <li class="comment">
                                    <a href="#">10 Comment</a>
                                </li>
                                <li class="date">
                                    <span>Date 10/10/2020 </span>
                                </li>
                            </ul><!-- /.meta-post -->
                            <div class="featured-post">
                                <img src="~/Content/Blog Images/3.jpg" alt="image">
                               
                            </div>
                            <div class="entry-post">
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text...</p>
                                <p>
                                    Diamond connoisseurs will fall for the carats nestled within Bucherer’s designs, whether they’re in the market for an engagement ring, a statement necklace or the perfect pear drop earrings to offset   any evening look. But the collection we’re most excited for is Peekaboo. Think Marie Antoinette meets Glossier with a smattering of stones thrown in for good measure.

                                    It’s feminine and bold, innocent but statement-making, and romantic in all the right ways. With a fon- dant fancy colour palette of brilliant-cut stones set in gold and decorated with dinky diamonds to bring another level to the pieces, it hits the right notes every time.
                                </p>
                                <p>Earlier this month, the Selfridges Wonder Room welcomed a new addition to its star-studded and sparkling roster: Bucherer Fine Jewellery. Bucherer is a brand steeped in history; it was founded nearly 130 years ago in 1888 in Switzerland, the home of jewellery, and has been creating modern pieces with a rich heritage ever since. From the younger Peekaboo collection to the high design of the Viv- elle line, there’s something for everyone here.</p>


                            </div>
                        </div><!-- /.content-post -->
                    </article><!-- /.post -->

                </div><!-- /.post-wrap -->
                <!-- /.blog-pagination -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.blog posts -->
