
@{
    ViewBag.Title = "Disclamer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-title parallax parallax1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Disclaimer</h1>
                </div><!-- /.page-title-heading -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a>@Html.ActionLink("Home", "Index", "Home1")</a></li>
                        <li><a>@Html.ActionLink("Discliamer", "Disclamer", "Home1")</a></li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->
<!-- Blog posts -->
<section class="blog-posts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-wrap">

                    <article class="post clearfix">
                        <div class="title-post">
                            <h2><a>Disclaimer</a></h2>
                        </div><!-- /.title-post -->
                        <div class="content-post">
                            <ul class="meta-post">
                                <li class="author padding-left-2">
                                    <span>Posted By: </span><a href="#">Admin</a>
                                </li>
                                <li class="comment">
                                    <a href="#">10 Comment</a>
                                </li>
                                <li class="date">
                                    <span>Date 10/10/2020 </span>
                                </li>
                            </ul><!-- /.meta-post -->
                            
                            <div class="entry-post">
                                <p> Hey there! I believe in complete transparency on the internet because honesty is my biggest policy. I wish I didn’t have to get into this legal jargon, but unfortunately, I have seen some sketchy stuff going on in the online business. This disclaimer stuff is all part of the process and it’s not fun for me either. Please read the disclaimers below in full.</p>
                            </div>
                        </div><!-- /.content-post -->
                    </article><!-- /.post -->

                    <article class="post clearfix">
                        <div class="title-post">
                            <h2><a>General Disclaimer</a></h2>
                        </div><!-- /.title-post -->
                        <div class="content-post">
                            <ul class="meta-post">
                                <li class="author padding-left-2">
                                    <span>Posted By: </span><a href="#">Admin</a>
                                </li>
                                <li class="comment">
                                    <a href="#">10 Comment</a>
                                </li>
                                <li class="date">
                                    <span>Date 10/10/2020 </span>
                                </li>
                            </ul><!-- /.meta-post -->
                          
                            <div class="entry-post">
                                <p> All material provided at is for informational purposes only and is not to be taken as financial advice or recommendations. The information and opinions found on this website and in related products and courses are written based on the best data available at the time of writing and are believed to be accurate according to the best discernment of the authors.</p>
                            </div>
                        </div><!-- /.content-post -->
                    </article><!-- /.post -->

                    <article class="post clearfix">
                        <div class="title-post">
                            <h2><a>Affiliate Disclaimer</a></h2>
                        </div><!-- /.title-post -->
                        <div class="content-post">
                            <ul class="meta-post">
                                <li class="author padding-left-2">
                                    <span>Posted By: </span><a href="#">Admin</a>
                                </li>
                                <li class="comment">
                                    <a href="#">10 Comment</a>
                                </li>
                                <li class="date">
                                    <span>Date 10/10/2020 </span>
                                </li>
                            </ul><!-- /.meta-post -->
                           
                            <div class="entry-post">
                             
                                <p>Links on this website may lead you to a product or service that provides an affiliate commission to the owners of this site should you make a purchase. In no way does any affiliate relationship ever factor into a recommendation, or alter the integrity of the information we provide. Please note that we have not been given any free products, services, or anything else by these companies in exchange for mentioning them on the site. The only consideration is in the form of affiliate commissions.</p>

                            </div>
                        </div><!-- /.content-post -->
                    </article><!-- /.post -->

                </div><!-- /.post-wrap -->
                <!-- /.blog-pagination -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.blog posts -->
