
@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div class="page-title parallax parallax1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Terms & Conditions</h1>
                </div><!-- /.page-title-heading -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a>@Html.ActionLink("Home", "Index", "Home1")</a></li>
                        <li><a>@Html.ActionLink("Terms & Conditions", "Terms", "Home1")</a></li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->


<section class="blog-posts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-wrap">

                    <article class="post clearfix">
                        <div class="title-post">
                            <h2><a>ACCEPTANCE OF TERMS</a></h2>
                        </div><!-- /.title-post -->
                        <div class="content-post">
                            <ul class="meta-post">
                                <li class="author padding-left-2">
                                    <span>Posted By: </span><a href="#">Admin</a>
                                </li>
                                <li class="comment">
                                    <a href="#">10 Comment</a>
                                </li>
                                <li class="date">
                                    <span>Date 10/10/2020 </span>
                                </li>
                            </ul><!-- /.meta-post -->

                            <div class="entry-post">
                                <p>
                                    By accessing, downloading, installing, or using waheedarshad239@gmail.com, whether or not you become a registered user (“User”, “You”, “Yourself”, “Your”), You agree to be bound by these Terms, as they may be amended bywaheedarshad239@gmail.com (“Company”) from time to time, which You acknowledge that You have read and understood. We reserve the right, at Our sole discretion, to change, modify or otherwise alter these Terms at any time. You must review these Terms at on a regular basis to keep Yourself informed of any changes.

                                </p>       </div>
                        </div><!-- /.content-post -->
                    </article><!-- /.post -->

                    <article class="post clearfix">
                        <div class="title-post">
                            <h2><a>PRIVACY POLICY</a></h2>
                        </div><!-- /.title-post -->
                        <div class="content-post">
                            <ul class="meta-post">
                                <li class="author padding-left-2">
                                    <span>Posted By: </span><a href="#">Admin</a>
                                </li>
                                <li class="comment">
                                    <a href="#">10 Comment</a>
                                </li>
                                <li class="date">
                                    <span>Date 10/10/2020 </span>
                                </li>
                            </ul><!-- /.meta-post -->

                            <div class="entry-post">
                                <p> The company respects your privacy and permits you to control the treatment of your personal information. A complete statement of Company’s current privacy policy can be found by clicking the “privacy” link at the bottom of the page. The company’s privacy policy is expressly incorporated into this Agreement by this reference.</p>        </div>
                        </div><!-- /.content-post -->
                    </article><!-- /.post -->

                    <article class="post clearfix">
                        <div class="title-post">
                            <h2><a>MANDATORY ARBITRATION AND GOVERNING LAW</a></h2>
                        </div><!-- /.title-post -->
                        <div class="content-post">
                            <ul class="meta-post">
                                <li class="author padding-left-2">
                                    <span>Posted By: </span><a href="#">Admin</a>
                                </li>
                                <li class="comment">
                                    <a href="#">10 Comment</a>
                                </li>
                                <li class="date">
                                    <span>Date 10/10/2020 </span>
                                </li>
                            </ul><!-- /.meta-post -->

                            <div class="entry-post">

                                <p>
                                    You expressly waive your right to bring any legal claims, now or in the future arising out of or related to the website and our products/services. In the event of any dispute, claim or controversy arising out of or relating to your use of this website, the terms and conditions shall be construed in accordance with the rules and regulations of the state of Dallas and the United States. You agree to consent and submit to the jurisdiction of the state and federal courts located in Dallas, Texas without regard to the principles of conflict of law or where the parties are located at the time a dispute arises. You agree to resolve any disputes or claims first through mandatory arbitration in the state of Texas and shall bear the full cost of arbitration as permitted by law. Your good faith participation in arbitration is a condition precedent to pursuing any other legal or equitable remedies available such as litigation or any other legal procedure. You also agree that in the event a legal claim is initiated after the required arbitration, the prevailing party shall be entitled to recover reasonable attorney’s fees and other costs associated with the legal action.

                                    <h2> AGE</h2>
                                    The site is intended only for users aged 18 or older. Individuals under the age of 18 are strictly prohibited from using the site and the accounts for any such person shall be terminated upon discovery.

                                    <h2>USE OF SOFTWARE</h2>
                                    Company may make certain software available to you from the Site. If you download software from the Site, the software, including all files and images contained in or generated by the software, and accompanying data (collectively, “Software”) are deemed to be licensed to you by Company, for your personal, non-commercial, home use only. The company does not transfer either the title or the intellectual property rights to the Software, and Company retains full and complete title to the Software as well as all intellectual property rights therein. You may not sell, redistribute, or reproduce the Software, nor may you decompile, reverse-engineer, disassemble or otherwise convert the Software to a human-perceivable form. All trademarks and logos are owned by Company or its licensors and you may not copy or use them in any manner.

                                    <h2>USER CONTENT</h2>
                                    You grant Company a license to use the materials you post to the Site or Service. By posting, downloading, displaying, performing, transmitting, or otherwise distributing information or other content (“User Content”) to the Site or Service, you are granting Company, its affiliates, officers, directors, employees, consultants, agents, and representatives a license to use User Content in connection with the operation of the Internet business of Company, its affiliates, officers, directors, employees, consultants, agents, and representatives, including without limitation, a right to copy, distribute, transmit, publicly display, publicly perform, reproduce, edit, translate, and reformat User Content. You will not be compensated for any User Content. You agree that Company may publish or otherwise disclose your name in connection with your User Content. By posting User Content on the Site or Service, you warrant and represent that you own the rights to the User Content or are otherwise authorized to post, distribute, display, perform, transmit, or otherwise distribute User Content.

                                    <h2>COMPLIANCE WITH INTELLECTUAL PROPERTY LAWS</h2>
                                    When accessing the Site or using the Service, you agree to obey the law and to respect the intellectual property rights of others. Your use of the Service and the Site is at all times governed by and subject to laws regarding copyright ownership and use of intellectual property. You agree not to upload, download, display, perform, transmit, or otherwise distribute any information or content (collectively, “Content”) in violation of any third party’s copyrights, trademarks, or other intellectual property or proprietary rights. You agree to abide by laws regarding copyright ownership and use of intellectual property, and you shall be solely responsible for any violations of any relevant laws and for any infringements of third party rights caused by any Content you provide or transmit, or that is provided or transmitted using your User ID. The burden of proving that any Content does not violate any laws or third party rights rests solely with you.

                                    <h2>INAPPROPRIATE CONTENT</h2>
                                    You shall not make the following types of Content available. You agree not to upload, download, display, perform, transmit, or otherwise distribute any Content that (a) is libelous, defamatory, obscene, pornographic, abusive, or threatening; (b) advocates or encourages conduct that could constitute a criminal offense, give rise to civil liability, or otherwise violate any applicable local, state, national, or foreign law or regulation; or (c) advertises or otherwise solicits funds or is a solicitation for goods or services. Company reserves the right to terminate your receipt, transmission, or other distribution of any such material using the Service, and, if applicable, to delete any such material from its servers. The company intends to cooperate fully with any law enforcement officials or agencies in the investigation of any violation of these Terms of Use or of any applicable laws.

                                    <h2>COPYRIGHT INFRINGEMENT</h2>
                                    Company has in place certain legally mandated procedures regarding allegations of copyright infringement occurring on the Site or with the Service.

                                    <h2>ALLEGED VIOLATIONS</h2>
                                    The company reserves the right to terminate your use of the Service and/or the Site. To ensure that Company provides a high-quality experience for you and for other users of the Site and the Service, you agree that Company or its representatives may access your account and records on a case-by-case basis to investigate complaints or allegations of abuse, infringement of third party rights, or other unauthorized uses of the Site or the Service. Company does not intend to disclose the existence or occurrence of such an investigation unless required by law, but Company reserves the right to terminate your account or your access to the Site immediately, with or without notice to you, and without liability to you, if Company believes that you have violated any of the Terms of Use, furnished Company with false or misleading information, or interfered with use of the Site or the Service by others.

                                    <h2>NO WARRANTIES</h2>
                                    COMPANY HEREBY DISCLAIMS ALL WARRANTIES. COMPANY IS MAKING THE SITE AVAILABLE “AS IS” WITHOUT WARRANTY OF ANY KIND. YOU ASSUME THE RISK OF ANY AND ALL DAMAGE OR LOSS FROM USE OF, OR INABILITY TO USE, THE SITE OR THE SERVICE. TO THE MAXIMUM EXTENT PERMITTED BY LAW, COMPANY EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES, EXPRESS OR IMPLIED, REGARDING THE SITE, INCLUDING, BUT NOT LIMITED TO, ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NONINFRINGEMENT. COMPANY DOES NOT WARRANT THAT THE SITE OR THE SERVICE WILL MEET YOUR REQUIREMENTS OR THAT THE OPERATION OF THE SITE OR THE SERVICE WILL BE UNINTERRUPTED OR ERROR-FREE.

                                    <h2>LIMITED LIABILITY</h2>
                                    COMPANY’S LIABILITY TO YOU IS LIMITED. TO THE MAXIMUM EXTENT PERMITTED BY LAW, IN NO EVENT SHALL COMPANY BE LIABLE FOR DAMAGES OF ANY KIND (INCLUDING, BUT NOT LIMITED TO, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, LOST PROFITS, OR LOST DATA, REGARDLESS OF THE FORESEEABILITY OF THOSE DAMAGES) ARISING OUT OF OR IN CONNECTION WITH YOUR USE OF THE SITE OR ANY OTHER MATERIALS OR SERVICES PROVIDED TO YOU BY COMPANY. This limitation shall apply regardless of whether the damages arise out of breach of contract, tort, or any other legal theory or form of action.

                                    <h2>AFFILIATED SITES</h2>
                                    The company has no control over, and no liability for any third-party websites or materials. The company works with a number of partners and affiliates whose Internet sites may be linked with the Site. Because neither Company nor the Site has control over the content and performance of these partner and affiliate sites, Company makes no guarantees about the accuracy, currency, content, or quality of the information provided by such sites, and Company assumes no responsibility for unintended, objectionable, inaccurate, misleading, or unlawful content that may reside on those sites. Similarly, from time to time in connection with your use of the Site, you may have access to content items (including, but not limited to, websites) that are owned by third parties. You acknowledge and agree that Company makes no guarantees about, and assumes no responsibility for, the accuracy, currency, content, or quality of this third party content, and that, unless expressly provided otherwise, these Terms of Use shall govern your use of any and all third party content.

                                    <h2>PROHIBITED USES</h2>
                                    The company imposes certain restrictions on your permissible use of the Site and the Service. You are prohibited from violating or attempting to violate any security features of the Site or Service, including, without limitation, (a) accessing content or data not intended for you, or logging onto a server or account that you are not authorized to access; (b) attempting to probe, scan, or test the vulnerability of the Service, the Site, or any associated system or network, or to breach security or authentication measures without proper authorization; (c) interfering or attempting to interfere with service to any user, host, or network, including, without limitation, by means of submitting a virus to the Site or Service, overloading, “flooding,” “spamming,” “mail bombing,” or “crashing;” (d) using the Site or Service to send unsolicited e-mail, including, without limitation, promotions, or advertisements for products or services; (e) forging any TCP/IP packet header or any part of the header information in any e-mail or in any posting using the Service; or (f) attempting to modify, reverse-engineer, decompile, disassemble, or otherwise reduce or attempt to reduce to a human-perceivable form any of the source code used by Company in providing the Site or Service. Any violation of system or network security may subject you to civil and/or criminal liability.

                                    <h2>INDEMNITY</h2>
                                    You agree to indemnify the Company for certain of your acts and omissions. You agree to indemnify, defend, and hold harmless Company, its affiliates, officers, directors, employees, consultants, agents, and representatives from any and all third party claims, losses, liability, damages, and/or costs (including reasonable attorney fees and costs) arising from your access to or use of the Site, your violation of these Terms of Use, or your infringement, or infringement by any other user of your account, of any intellectual property or other right of any person or entity. Company will notify you promptly of any such claim, loss, liability, or demand, and will provide you with reasonable assistance, at your expense, in defending any such claim, loss, liability, damage, or cost.

                                    <h2>COPYRIGHT</h2>
                                    All the contents of the Site or Service are Copyright © 2020 Waheed Arshad. All rights reserved.

                                    <h2>SEVERABILITY: WAIVER</h2>
                                    If for whatever reason, a court of competent jurisdiction finds any term or condition in these Terms of Use to be unenforceable, all other terms and conditions will remain unaffected and in full force and effect. No waiver of any breach of any provision of these Terms of Use shall constitute a waiver of any prior, concurrent, or subsequent breach of the same or any other provisions hereof, and no waiver shall be effective unless made in writing and signed by an authorized representative of the waiving party.

                                    <h2>NO LICENSE</h2>
                                    Nothing contained on the Site should be understood as granting you a license to use any of the trademarks, service marks, or logos owned by Company or by any third party.

                                    <h2>AMENDMENTS</h2>
                                    The company reserves the right to amend these Terms. Should Company seek to make such an amendment and we, in our sole discretion, consider the amendment to be material in nature, we shall: (a) Clearly publish on the home page the fact an amendment is being made. You may contact us to discuss and contact information so you may discuss the proposed changes with us. Should a court of competent jurisdiction rule this Amendment provision invalid, then this Amendment clause shall be terminated as part of this agreement with the agreement between us reverting to the previous set of terms applicable to the website. All amendments to the Terms shall be forward-looking.
                                </p>          </div>
                        </div><!-- /.content-post -->
                    </article><!-- /.post -->

                </div><!-- /.post-wrap -->
                <!-- /.blog-pagination -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.blog posts -->
